<!DOCTYPE html>
<html>

<head>
    
    
   
    <link rel="stylesheet" href="/css/styleProductoMF.css">
  
    <%- include('partials/head.ejs')%>
    <title>Home</title>
</head>

<body>
    <%- include('partials/header.ejs')%>
    <div>
        <!-- Contenedor ppal -->
        <!-- ENCABEZADO -->
       
            <!-- ENCABEZADO -->

            <main class="contenedor">
                <!-- PRIMER COLUMNA -->
                <div class="primerColumna">
                    <!-- imagenes -->
                    <div class="imagenProducto">
                        <img class="producto" src="/images/<%= products.image %>">
                    </div>
                    <!-- imagenes -->

                    <!-- descripcion detallada del producto -->
                    <a href="" class="botonConsultar">CONSULTAR</a>

                    <h2 class="h2PrimerColumna"><strong>Descripción detallada del Producto: </strong></h2>

                    <p class="descripcionPrimerColumna">
                        <%= products.description %>
                    </p>

                </div>
                <!-- descripcion detallada del producto -->
                <!-- PRIMER COLUMNA -->

                <!-- SEGUNDA COLUMNA -->
                <div class="segundaColumna">
                    <div class="segunda">
                        <p class="NS">NUEVO/USADO</p>
                        <h2 class="h2subrayado"><strong><%= products.name %></strong></h2>
                        <!-- estrellas -->
                        <!-- estrellas -->
                        <% if(products.discount > 0) { 
                    let getDiscountPercentage = discount => (100 - discount) / 100;
                    let finalPrice = (products.price * getDiscountPercentage(products.discount)).toFixed(0);
              %>
                            <p class="descuento">
                                <span>$<%= thousandGenerator(products.price) %></span> /
                                <b><%= products.discount %>% OFF</b>
                            </p>
                            <p class="precio">
                                $
                                <%= thousandGenerator(finalPrice) %>
                            </p>
                            <% } else { %>
                                <p class="precio">
                                    $
                                    <%= thousandGenerator(products.price) %>
                                </p>
                                <% } %>

                                    <p class="ulSegundaColumna">
                                        <%= products.description %>
                                    </p>
                    </div>
                </div>
                <!-- SEGUNDA COLUMNA -->

                <!-- TERCER COLUMNA -->
                <div class="tercerColumna">
                    <!-- imagenes de las tarjetas -->
                    <div class="tarjetasYtiempo">
                        <i class="far fa-credit-card imgTercerColumna"></i>
                        <p class="letrasAzules">HASTA EN 18 CUOTAS</p>
                    </div>
                    <!-- imagenes de las tarjetas -->
                    <!-- imagenes del camion -->
                    <div class="tarjetasYtiempo">
                        <i class="fas fa-truck imgTercerColumna"></i>
                        <p class="letrasAzules">LLEGARA EN 1 DIA</p>
                    </div>
                    <!-- imagenes del camion -->
                    <p class="letrasAzules">SERA ENVIADO A LOCALIDAD</p>

                    <p class="letrasNegras">Vendido por: <a href="">Nombre del vendedor</a></p>
                    <p class="letrasNegras">Puntuación del vendedor</p>

                    <form action='/cart/<%= products.id %> ' method="POST">
                        <div class="cant">
                            <p class="cantidad">Cantidad: <label for=""></label>
                                <input class='inputNumber' type="number" name="cantidad" id="cantidad" min="1" max="99" required>
                                <!-- El valor de max, debería estar especificado en el json de los productos que sube el usuario -->
                            </p>
                        </div>
                        <input type="submit" value="+ Agregar al carrito" class="botonAgregar">

                        <input type="submit" value="COMPRAR" class="botonComprar">
                        <% if(userType == 'empresa'){ %>
                            <a href="/products/<%= products.id %>/edit" class="botonComprar">EDITAR</a>
                            <% } %>

                    </form>


                    <!-- TERCER COLUMNA -->

                </div>
            </main>
    </div>
<!-- Footer section -->
<%- include('partials/footer.ejs')%>
<!-- Footer section end -->
</body>

</html>