<!DOCTYPE html>
<html lang="en">
<!-- Redirect, cambiar del home para el detalle de productos, está con redirect pero no refresca. está mal.
    Cambiar la ruta para buscar y guardar las imagenes
    configurar la edición de files con multer -->

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>


    <%- include('partials/head.ejs')%>

</head>

<body>
    <%- include('partials/header.ejs')%>
        <div id="main" class="container-fluid mt-3">
            <form method="POST" class="form-inline col-12">
                <div class="col-12 col-md-6">
                    <img src="/images/products/<%=prod.id%>/<%=prod.image%>" class="rounded mx-auto img-fluid d-block img-thumbnail col-md-8 float-md-left" alt="No Image">
                    <input type="file" id="imageEdit" class="form-control-file mb-3" data-default-file="" data-height="500">
                </div>
                <div class="col-md-6">
                    <!-- hidden data required on edit form -->
                    <div class="input-group-prepend mb-2">
                        <label hidden class="input-group-text text-left text-capitalize col-md-4"><%= `${Object.keys(prod)[0]}:` %></label>
                        <input name="<%= Object.keys(prod)[0] %>" type="text" hidden class="input-group form-control col-8" value="<%= `${prod.id}` %>">
                    </div>
                    <div class="input-group-prepend mb-2">
                        <label hidden class="input-group-text text-left text-capitalize col-md-4"><%= `${Object.keys(prod)[4]}:` %></label>
                        <input name="<%= Object.keys(prod)[4] %>" type="text" hidden class="input-group form-control col-8" value="<%= `${prod.image}` %>">
                    </div>

                    <!-- Name // Description // Price // Discount -->
                    <div class="input-group-prepend mb-2">
                        <label class="input-group-text text-capitalize col-md-4"><%= `${Object.keys(prod)[1]}:` %></label>
                        <input name="<%= Object.keys(prod)[1] %>" type="text" class="input-group form-control col-8" placeholder="<%= `${prod.name}` %>" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group-prepend mb-2">
                        <label class="input-group-text text-capitalize col-md-4"><%= `${Object.keys(prod)[2]}:` %></label>
                        <input name="<%= Object.keys(prod)[2] %>" type="text" class="input-group form-control col-8" placeholder="<%= `${prod.description  }` %>" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group-prepend mb-2">
                        <label class="input-group-text text-capitalize col-md-4"><%= `${Object.keys(prod)[3]}:` %></label>
                        <input name="<%= Object.keys(prod)[3] %>" type="text" class="input-group form-control col-8" placeholder="<%= `${prod.price}` %>" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group-prepend mb-2">
                        <label class="input-group-text text-capitalize col-md-4"><%= `${Object.keys(prod)[5]}:` %></label>
                        <input name="<%= Object.keys(prod)[5] %>" type="text" class="input-group form-control col-8" placeholder="<%= `${prod.discount_id}` %>" aria-describedby="addon-wrapping">
                    </div>

                    <!-- Category -->
                    <div class="input-group-prepend mb-2">
                        <label class="input-group-text text-capitalize col-md-4"><%= `${Object.keys(prod)[6]}:` %></label>
                        <select name="<%= prod.Category_id %>" class="input-group form-control col-8" aria-describedby="addon-wrapping">
                                    <% for (let item of categ) { %>
                                        <% if ( item.id == prod.id){ %>
                                            <option selected value="<%= item.id %>" > <%= item.category %> </option>
                                            <% } else { %>
                                            <option value="<%= item.id %>" > <%= item.category %> </option>
                                            <% } %>
                                        <% } %>
                                </select>
                    </div>

                    <!-- Edit // Delete Buttons -->
                    <div class="form-actions form-inline btn-toolbar mt-3 ml-auto text-center ">
                        <input type="submit" value="Editar" formaction="/products/<%= prod.id %>/edit?_method=PUT" class="btn btn-primary btn-md-lg m-md-auto col-12 col-md-5 mb-3">
                        <input type="submit" value="Eliminar" formaction="/products/<%= prod.id %>/delete?_method=DELETE" class="btn btn-danger btn-md-lg m-md-auto col-md-5">
                    </div>

                </div>
            </form>
        </div>
        <!-- Footer section -->
        <%- include('partials/footer.ejs')%>
            <!-- Footer section end -->


</body>

</html>