<!DOCTYPE html>
<html>
<head>
	<!-- Head section -->
	<%- include('partials/head.ejs')%>
	<!-- Head section end -->
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

    <!-- Header section -->
    <%- include('partials/header.ejs')%>
	<!-- Header section end -->



	<!-- Slide section -->
	<%- include('partials/slide.ejs')%>
	<!-- Slide section end -->



	<!-- Destacado -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="images/icons/1.png" alt="#">
						</div>
						<h2>Compra en 3 simples pasos</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="images/icons/2.png" alt="#">
						</div>
						<h2>Promociones Exclusivas</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="images/icons/3.png" alt="#">
						</div>
						<h2>Delivery Rapido y Gratis!</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Destacado end -->


	<!-- ultimos productos section -->

	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>ULTIMOS PRODUCTOS AGREGADOS</h2>
			</div>

			<div class="product-slider owl-carousel">
				<% for (product of products) { 
					let getDiscountPercentage = discount => (100 - discount) / 100;
					let finalPrice = (product.price * getDiscountPercentage(10)).toFixed(0); 
				%>
				<div class="product-item">
					<div class="pi-pic">
						<img src="/images/<%= product.image %>" alt="<%= product.name %>">
						<div class="pi-links">
							<a href="/products/<%= product.id %>" class="add-card"><i class="flaticon-bag"></i><span>COMPRAR</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$<%= thousandGenerator(finalPrice) %></h6>
						<p><%= product.name %> </p>
					</div>
				</div>
				<% } %>

			</div>
		</div>
	</section>
	<!-- lultimos productos end -->

	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>LO MAS SOLICITADOS</h2>
			</div>
			<ul class="product-filter-menu">
				<li><a href="#">SEMILLAS</a></li>
				<li><a href="#">ELECTRONICA</a></li>
				<li><a href="#">DEPORTES</a></li>
				<li><a href="#">LIFE STYLE</a></li>
				<li><a href="#">HOMBRE</a></li>
				<li><a href="#">MUJER</a></li>
				<li><a href="#">NIÑES</a></li>
			</ul>
			<div class="row">
				<% for (product of products) { 
					let getDiscountPercentage = discount => (100 - discount) / 100;
					let finalPrice = (product.price * getDiscountPercentage(10)).toFixed(0); 
				%>
				<div class="col-lg-3 col-sm-6">
					
					<div class="product-item">
						<div class="pi-pic">
							<img src="/images/<%= product.image %>"alt="<%= product.name %>">
							<div class="pi-links">
								<a href="/products/<%= product.id %>" class="add-card"><i class="flaticon-bag"></i><span>COMPRAR</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$<%= thousandGenerator(finalPrice) %></h6>
							<p><%= product.name %></p>
						</div>
					</div>
					
				</div>
				<% } %>
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">CARGAR MAS</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="images/delivery-gratis-02.jpg">
				<div class="tag-new">Exclusivo</div>
				<span>No te lo Pierdas!</span>
				<h2>DELIVERY GRATIS</h2>
				<a href="#" class="site-btn">COMPRA</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->


	<!-- Footer section -->
	<%- include('partials/footer.ejs')%>
	<!-- Footer section end -->



	

	</body>
</html>
